<div class="">
  <div class="">
    <h2>{{item.label}}</h2>
    {{item.content}}
    <ul class="">
      <li><a href="#"><i class="fa fa-envelope-o btn-icon btn-light-green"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin btn-icon btn-light-green"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook btn-icon btn-light-green"></i></a></li>
    </ul>
    <a href="#" class=""><span></span></a>
  </div>
</div>
<div>
  <a href="#" class="">{{item.industry}}</a>
  <img src="http://gizra.github.io/ethosia/images/img04.jpg" style="">
</div>
